@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#box1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -10;
}
#navbar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 50px;

    top: 0;
    width: 100vw;
}
.ele {
    margin: 10px;
    margin-top: 0px;
}
a {
    text-decoration: none;
    color: black;
}
#text {
    width: 200px;
    position: relative;
}
