@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#box1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -10;
}
#navbar {
    display: flex;
    list-style: none;
    justify-content:flex-end;
    margin-right: 50px;
    position: sticky;
    
    
    

    top: 0;
    width: 80vw;
}

.ele {
    margin: 10px;
    margin-top: 0px;
}
.ele::after{
    content:"";
    display:block;
    height:4px;
    width:100%;
    background-color: #2bd576;
    transform:scale(0);
    transform-origin: left;
    transition: transform 0.3s ease;



}

.ele:hover::after{
    transform:scale(1);
    


}
.link:hover{
     color:aqua;

}
a {
    text-decoration: none;
    color: black;
}
#text {
    width: 200px;
    position: relative;
    margin-Top:120px;
    margin-left: 40px;
}
#box2{
    display:flex;

}
#button{
    height: 30px;
    border: none;
    background-color:red;
    font-family: "Poppins", sans-serif;
    font-size: large;
    border-radius: 10px;
}
#button:hover{
    color:whitesmoke;
}.btn{
    width: 100px;
    height:60px;
    border:none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    background:transparent ;
}
.btn:hover{
    
    color:red;
}a
.btn:active{
    transform:translatey(10px);
    transition:transform 0.3s ease;

}
#btnbox{
    margin-top: 40px;
    margin-left: 30vw;
    width: 600px;
    display:flex;
    justify-content: space-between;
    display:none;
    
}
#register{
    font-family: "Poppins", sans-serif;
    font-size: large;
    background:transparent;
    border: none;

}
#register:hover{
    color:red;
}